<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ehrez.ehrezRemote" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>EHRez Remote</name>
  <description>
        Enabled remote logins.
    </description>
  <author email="mfigueroa@ehrez.com" href="http://ehrez.com/">
      Marcos Figueroa
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="Device">
    <param name="ios-package" value="CDVDevice" />
</feature>
</widget>